.jumbotron {

  h1 {
    color: blue;
  }

  text-align: center;
}

.keg-form {
  margin-bottom: 20px;
}

.beer {
  height: 100px;
  &:hover {
    content: url('/resources/images/beer.jpg');
  }
}

.expensive{
  background-color: #CDB7FF;
}
